@media (max-width:900px) {
    .menus {
        display: none;
    }

    .hamberger {
        display: block;
    }

    .example-area {
        gap: 20px;
    }

    .example-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-main-section {
        padding: 10px 10px;
    }
    .cta-main-section{
        padding: 20px 10px;
    }
    .cta-title{
        font-size: 40px;
        padding: 20px 10px;
        font-weight:normal ;
    }
    
    .cta-desc{
        padding-bottom: 20px;
    }

    .participant-img{
        width: 100%;
        margin: auto 10px;
    }
    
    .secondary-button{
        padding: 6px 12px;
    }

    
}

@media (max-width:500px) {
    .header-section{
        flex-direction: column-reverse;
    }

    h1{
        font-size: 1.5rem;
    }
    
    h2{
        font-size: 1rem;
    }
    
    h3{
        font-size: 1.5rem;
    }

    .header-left h1{
        margin-top: 20px;
        font-weight: bold;
    }

    .header-left{
        text-align: center;
    }


    .features-card-area{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .main-big-feature{
        flex-direction: column;
    }

    .mid-big-feature{
        flex-direction: column-reverse;
    }

    .left-big-feature{
        text-align: center;
    }
    .example-area {
        gap: 10px;
    }
    
    .example-card {
        width:100%;
        height: 200px;
    }

    .features-title h2{
        font-size: 2rem;
        font-weight: normal;
    }

    .main-participation-section{
        flex-direction: column-reverse;
    }

    .participation-list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .primary-button{
        width: 100%;
        text-align: center;
    }

    .footer-section{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        text-align: center;

    }

    .footer-logo img{
        width: 152px;
        padding: 0;
        margin: 3rem auto;
    }

    .main-subfooter{
        flex-direction: column;
    }

    .conditions{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .footer-product{
        margin-bottom: 2rem;
    }
}